<style>
.footer-custom{
    background-color: #2E0249;
}
</style>


<footer class = "footer  py-3 mt-auto footer-custom">
    <div class="container">
        <span class="text-muted ">&copy; TravelZilla 2022</span>
    </div>
</footer>